<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to 'ビーブ！(仮)', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="チームを探す">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">探す</button>
        </form>
      　<ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <%= link_to '#', class: '', data: {toggle: 'dropdown'} do %>
                <% if current_user.avatar.attached? %>
                  <%= image_tag current_user.avatar.variant(resize: "100x100"), class: 'navbar-brand rounded-circle' %>
                <% else %>
                  <%= image_tag 'https://pics.prcm.jp/638bee63bc5e4/72592090/png/72592090_220x220.png', width: '30', height: '30', class: 'navbar-brand rounded-circle w-50' %>
                <% end %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to 'アカウント設定', edit_user_registration_path, class: 'dropdown-item' %>
                <%= link_to 'プロフィール', user_path(current_user.uuid), class: 'dropdown-item' %>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ユーザー登録', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
    </div>
</nav>
